/* CARDS */
body { 
    background-image: url(/assets/img/lovepik-summer-travel-background-picture_501594386.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}
#alquileres-container{ 
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
    gap: 15px;
    color: white;

}
.card-producto{ 
    width: 250px;
    height: 180px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 5px;
    color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 5);
    transition: 200ms;
    align-items: center;
    margin: auto;


}
.card-producto:hover{ 
    translate: 0  -8px;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 5);
}

.card-producto img {
    width: 100%;


 }

h1 { 
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 10px;


}

 h3, p { 
    margin: 5px;
    color: white;


 }

 button { 
    background-color: rgb(255, 188, 63);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
 }
footer { 
    color: rgb(255, 255, 255);
    text-decoration: underline;
    margin-top: 100px;
    text-align: center;

    
}